rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user} {

      function isUser(){
        return request.auth != null
        && request.auth.uid == user;
      }

      function isOnTheWhitelist(whitelist){
        return request.resource.data.diff(resource.data).affectedKeys().hasOnly(whitelist);
      }

      function isArray(property){
        return request.resource.data[property] is list;
      }

      allow read: if isUser();
      allow update: if isUser()
      && isOnTheWhitelist(['savedMovies'])
      && isArray('savedMovies');
    }
  }
}